html,
body {
  font: 'Roboto';
  overflow-x: hidden;
  margin: 10px;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

.title {
  font-size: 75px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 1.125;
  position: relative;
}

.subtitle {
  text-align: center !important;
  justify-content: center;
  position: absolute;
  display: flex;
  left: 18%;
  right: 18%;
  margin-bottom: auto;
  top: 60%;
  color: #ffffff;
  font-size: 24px;
}

.add_padding {
  padding-left: 12px;
}

.bg-image {
  background-image: url('https://data-dict0.github.io/ph-condos/assets/condo-units-edited.png');
}

.h4 {
  text-align: center;
}

h3 {
  text-align: center;
}

a {
  text-decoration-color: #212529;
  color: #212529;
}
.first-letter {
  font-size: 65px;
  line-height: 55px;
  float: left;
}

.caption {
  font-size: 11px;
}

.hidden {
  visibility: hidden;
}

/* When it's less than 500 pixels wide */


@media only screen and (max-width: 450px) and (min-width: 300px) {
  .title {
    font-size: 38px;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 1.125;
    position: relative;
  }

  .subtitle {
    text-align: center;
    justify-content: center;
    position: absolute;
    margin: 0 auto;
    top: 60%;
    left: 3%;
    right: 3%;
    color: #ffffff;
    font-size: 20px;
  }

  .first-letter {
    font-size: 50px;
    line-height: 40px;
    float: left;
    text-indent: 0;
  }

  html,
  body {
    overflow-x: hidden;
  }
}
